#navigations {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 57px;
    background-color: #a6c9ca;
}

#items {
    position: fixed;
    left: 0;
    top: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navitems img {
    width: 40px;
    height: 40px;
    padding: 3px;
}

.navitems img:hover {
    box-shadow: rgba(57, 91, 100, 0.4) 0px 5px, rgba(57, 91, 100, 0.3) 0px 10px, rgba(57, 91, 100, 0.2) 0px 15px, rgba(57, 91, 100, 0.1) 0px 20px, rgba(57, 91, 100, 0.05) 0px 25px;
}

.home {
    margin-left: 15px;
}