#navigation1 {
    background-color: white;
    
    height: 55px;
    margin-bottom: 10px;
    padding: 0 25px;
    padding-bottom: 0;
}

#logo {
    letter-spacing: 3px;
    color:#2C3333;
    font-weight: 700;

}

#navitems1 {
    color:#2C3333;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 2.5px;
}

#navitems1:hover {
    color:#2C3333;
    border-bottom: 1px solid #2C3333;
    
}

#items {
    display: flex;
    gap: 15px
}

.boarderYes {
    border-bottom: 1px solid #395B64;
    transition: 0.5s ease-in-out;
}